<!doctype html>

{% extends "base.html" %}

{% load bootstrap_toolkit %}

<html>
    <head>
    </head>

    <body>
			{% block content %}
	    {% include "bootstrap_toolkit/tabs.html" %}
	    {% include "bootstrap_toolkit/pills.html" %}
	    <br>

			<p> {{ sound.title }} <p>

	    <div class="jumbotron" 
	    	style="background:url('http://c308991.r91.cf1.rackcdn.com/SiteFiles/Artists/1873/365ec062-2ccb-4653-b94c-1009cd41d827.jpg'); height:800px">

	    <br> <br><br><br><br><br><br> <br><br> <br><br><br><br><br><br> <br> 

			<iframe 
				width="400" 
				height="150" 
				src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F{{sound.sc_id}}">
			</iframe>

			</div>
			 
    {% endblock %}
	   </body>
</html>